<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carl Sagan tribute</title>
</head>
<body>
    <p>Sagan explaining the fourth dimension</p>
    <img class="sagan-picture" src="/images/sagan-4th-dimmension.jpg" alt="Carl Sagan explaining the fourth dimension" >

    <p>Sagan explaining the DNA structure</p>
    <img class="sagan-picture" src="/images/sagan-DNA-structure.jpg" alt="Sagan explaining the DNA">
</body>
</html>