<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Carl Sagan - The Poet of Science</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>

    <h1>Carl Sagan tribute</h1>

    <p>Welcome to Carl Sagan tribute website. Here you will find information about one of the greatest science communicator of the 20th century.</p>
    
    <p>
        The nitrogen in our DNA,<br>
        the calcium in our teeth, the iron in our blood,<br>
        the carbon in our apple pies <br>
        were made in the interiors of collapsing stars. <br>
        we are made of starstuff. <br>
        - Carl Sagan, Cosmos.
    </p>
    
    <img class="sagan-picture" src="/images/carl-sagan.jpg" alt="Carl Sagan">
    <script src="/scripts/app.js"></script>
</body>
</html>